.page {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
  padding: 20px;
  //background-color: lightblue;
}

.page__aside {
  flex-shrink: 0;
  width: 400px;
  padding: 20px;
  border-left: 1px solid $color-default;
  //background-color: lightgreen;
}
